body {
	font-family: 'Oxygen', sans-serif !important;
}

.hero-title {
	font-size: 3rem !important;
}

.hero-paragraph {
	font-size: 1.5rem !important;
}


.feature-extended-body {
	h3 {
		font-size: 2.5rem !important;
	}
	p {
		font-size: 1.25rem !important;
	}
}



.button {
	color: white !important;
	padding: 16px 40px !important;
}

.custom-purple {
	background-color: #4436F7 !important;
}

.form {
	p {
		font-family: 'Ubuntu', sans-serif;
	}
}


.site-footer-top {
	h2 {
		font-size: 2.5rem !important;
	}
	p {
		font-size: 1.25rem !important;
	}
}


.message {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
